$verde: #2D6B40;
$verde2: #178E92;
$azulcielo : rgb(82, 169, 196);
$rojo : red;
$colortwitter: rgb(10, 198, 255);
$colorinstagram: rgb(149, 0, 112);
$colorfacebook: rgb(10, 102, 207);
$amarillo : yellow;
$bgcolor: #C7D401;